<footer class="page__footer">
  <div class="footer-wrapper">
    <section class="footer">
      <div class="ico-arrow">
        <a href="#home" title="Volver a inicio">
          <img
            src="./assets/images/ico-arrow.svg"
            alt="Volver al inicio de la página"
          />
        </a>
      </div>
      <div class="footer-menu">
        <nav class="menu-list1">
          <ul class="list">
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Articles</a
              >
            </li>
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Books</a
              >
            </li>
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Events</a
              >
            </li>
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Reasons</a
              >
            </li>
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Tips</a
              >
            </li>
          </ul>
        </nav>
        <nav class="menu-list2">
          <ul class="list">
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Twitter</a
              >
            </li>
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://adalab.es/"
                title="Ir a la página de Adalab"
                target="_blank"
                >Mastodon.social</a
              >
            </li>
          </ul>
        </nav>
        <div class="copy">&copy2020
        <div>We <span class="heart">&hearts;</span> components</div>
      </div>
    </section>
  </div>
</footer>
