<main class="page__main">
  <div class="main-wrapper">
    <section class="window">
      <article class="article1">
        <div class="main-text">
          <p class="tips">Insomnia tips</p>
          <h2 class="main-title">
            <span>Looking through a</span> <span>window</span>
          </h2>
          <p class="article1-text">
            Donec accumsan, nulla ut volutpat porttitor quam odio tempus felis,
            at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
          </p>
        </div>
        <div class="main-button">
          <a
            class="go"
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            >Go</a
          >
        </div>
      </article>
      <article class="article2" id="3reasons">
        <h2 class="reasons">3 Reasons to purchase</h2>
        <div class="reason1">
          <h3 class="reason-h3">Ut sed metus</h3>
          <p class="reason-p">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason2">
          <h3 class="reason-h3">Curabitur ac erat</h3>
          <p class="reason-p">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason3">
          <h3 class="reason-h3">Morbi dictum</h3>
          <p class="reason-p">Aliquam in dolor et dolor tincidunt.</p>
        </div>
        <div class="reasons-button">
          <a
            class="more-reasons"
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            >More reasons</a
          >
        </div>
      </article>
    </section>
  </div>
</main>
