/*FONTS*/
$main-font: "Roboto", sans-serif;
$tittles-font: "Roboto Slab", serif;

/*COLORS*/
$primary-color: #f26002;
$secondary-color: #8ccbea;
$dark-grey: #4a4a4a;
$light-color: #ffffff;
$main-color: #eff9ff;
$footer-color: #304268;
$button-color: #0271bc;
$dark-color: black;

/*BREAKPOINTS*/
$tablet: 768px;
$minidesktop: 1024px;
$desktop: 1280px;
